.dirstamp
autom4te.cache
aclocal.m4
config.guess
config.log
config.mif
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h.in
stamp-h1
srcdist.lst
bindist.lst
compile
makeall
INSTALL
mdate-sh
texinfo.tex
test-driver
*.o
*.lo
*.la
.deps
.libs
adplug.pc
adplug-*.tar.bz2
adplugdb/adplugdb
doc/*.1
doc/libadplug.info
doc/version.texi
doc/stamp-vti
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/version.h
test-suite.log
test/*.trs
test/crctest
test/crctest.log
test/emutest
test/emutest.log
test/playertest
test/playertest.log
