autom4te.cache
aclocal.m4
config.guess
config.log
config.mif
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h.in
stamp-h1
srcdist.lst
bindist.lst
compile
makeall
INSTALL
doc/mdate-sh
doc/texinfo.tex
test-driver
*.o
*.lo
*.la
.deps
.libs
adplug.pc
adplugdb/adplugdb
doc/*.1
doc/libadplug.info
doc/version.texi
doc/stamp-vti
src/version.h
test/test-suite.log
test/*.trs
test/crctest
test/crctest.log
test/emutest
test/emutest.log
test/playertest
test/playertest.log
