.dirstamp
autom4te.cache
aclocal.m4
config.guess
config.log
config.mif
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h.in
stamp-h1
srcdist.lst
bindist.lst
compile
makeall
INSTALL
mdate-sh
texinfo.tex
test-driver
*.exe
*.o
*.lo
*.la
.deps
.libs
.vscode
adplug.pc
adplug-*.tar.bz2
adplugdb/adplugdb
doc/*.1
doc/libadplug.info
doc/libadplug.html
doc/version.texi
doc/stamp-vti
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/version.h
test-suite.log
test/*.trs
test/crctest
test/crctest.exe
test/crctest.log
test/emutest
test/emutest.exe
test/emutest.log
test/playtest
test/playtest.exe
test/playtest.log
test/strstest
test/strstest.exe
test/strstest.log
contrib/vs2015/adplug/v140/x64/Debug
contrib/vs2015/crctest/x64/Debug
contrib/vs2015/emutest/x64/Debug
contrib/vs2015/playertest/x64/Debug
